@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
body  {font-family: 'Poppins', sans-serif;}
h1{color: darkblue;}  
.profile-img{width: 80%;
  border-radius: 05%;
  }
.btn{display: block;
  color: black;
  padding:30px;
  background: indianred;
  margin:16px;
}